{% extends "base.html.twig" %}
{% block js %}

	{{parent() }}
	<script>

	async function requestComponentFromDatabase(component){

		const response = await fetch(`http://localhost:8000/api/${component}/all`)
  		const data = await response.json();
		  console.log(data);
  		return data
  	
};
	async function requestComponent(component, id ){
		const response = await fetch(`http://localhost:8000/api/${component}/${id}`)
  		const data = await response.json();
		console.log(data);
  		return data
  	
};

const populateComponentOptions = (data) => {
  var select = document.querySelector("#municipality");
 
  data.forEach(function(municipality) {
    var option = document.createElement("option");
    option.value = municipality.id;
    option.text = municipality.name;
    option.selected = select.value == municipality.id;
    select.add(option);
  });
};

requestComponentFromDatabase("PcCase").then(populateComponentOptions);
requestComponent("PcCase","1").then(populateComponentOptions);
requestComponentFromDatabase().then((res)=>{
	$.each( res, function( key,val ) {
 		console.log( key,val );
		});
	
})


	</script>
{% endblock %}


{% block content %}

	<form method="post">
		<select id="municipality"></select>
	</form>

{% endblock %}
